[user]
    name = Stefan Chipilov
[color]
    ui = auto
[alias]
    st = !git status && "echo -e \"Hidden files:\\n\\033[35m\"" && git ls-files -v | grep '^[[:lower:]]' | sed 's/h /    !!! /' && "echo -e \"\\033[0m\""
    d = diff --color-words -w
    dc = diff --color-words -w --cached
    aa = add -u .
    co = checkout
    b = branch
    fo = remote update -p
    so = remote show origin
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset %s %C(green)%an %cD%Creset %C(red)%d%Creset' --abbrev-commit
    up = !git remote update -p && git merge --ff-only @{u}
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    unhide-all = !git ls-files -v | grep '^[[:lower:]]' | cut -d ' ' -f 2 | xargs git unhide
    hidden = !"echo -e \"Hidden files:\\n\\033[35m\"" && git ls-files -v | grep '^[[:lower:]]' | sed 's/h /    !!! /' && "echo -e \"\\033[0m\""
[merge]
    conflictstyle = diff3
[push]
    default = simple
[diff]
    renameLimit = 8000
[include]
    path = # IMPORTANT: Fill in path to environment-specific options (e.g. work, github, etc.)
